body{
    background-color: #f5f5f5;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    text-align: center;
}

.login-form {
    width: 300px;
    margin: 0 auto;
}

.login-form h1 {
    text-align: center;
    color: midnightblue;
    font-size: 28px;
    padding: 70px 0 10px 0;
}

.login-form input[type="password"],
.login-form input[type="text"]{
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/*Estilos boton login*/
.btn-login{
    width: 100%;
    padding: 15px;
    background-color: #6f42c1;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
}



.btn-login:hover, .btn-login:active{
    color: #fff;
    background-color: #61428f;
    border-color: #61428f;
}
.btn-login:focus{
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}


.btn-register{
    width: 100%;
    padding: 15px;
    background-color: #34D399;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    /*Dar forma de boton a la etiqueta a*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.btn-register:hover, .btn-register:active{
    color: #fff;
    background-color: #10b981;
    border-color: #10b981;
}
.btn-register:focus{
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}



/*Estilos ventana registro*/
.register-form {
    width: 400px;
    margin: 0 auto;
    padding: 0px 20px 60px 20px;
    margin-top: 35px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


.register-form input[type="password"],
.register-form input[type="text"]{
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.register-form h1{
    text-align: left;
    color: midnightblue;
    padding: 70px 0 10px 0;
}


.btn-save{
    width: 48.5%;
    padding: 15px;
    background-color: rgb(15, 150, 15);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    /* Dar forma de boton a la etiqueta a*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.btn-save:hover, .btn-save:active{
    color: #fff;
    background-color: rgb(10, 104, 10);
    border-color: rgb(10, 104, 10);
}
.btn-save:focus{
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}


.btn-cancel{
    width: 48.5%;
    padding: 15px;
    background-color: #df3b3b;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    /*Dar forma de boton a la etiqueta a*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.btn-cancel:hover, .btn-cancel:active{
    color: #fff;
    background-color: #a72c2c;
    border-color: #a72c2c;
}
.btn-cancel:focus{
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}


.select-css{
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    background-color: #f5f5f5;
}

.select-css::-ms-expand{
    border-color: #888;
}

.select-css:hover{
    border-color: #888;
}

.select-css:focus{
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    color: #222;
    outline: none;
}

.select-css option{
    font-weight: normal;
}



/*Estilos de index*/
.a-login{
    width: 300px;
    padding: 15px;
    background-color: rgba(0, 128, 0, 0.795);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    /*Dar forma de boton a la etiqueta a*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.a-login:hover, .a-login:active{
    color: #fff;
    background-color: rgb(0, 128, 0);
    border-color: rgb(0, 128, 0);
}
.a-login:focus{
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}



.a-logout{
    width: 300px;
    padding: 15px;
    background-color: #df3b3b;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    /*Dar forma de boton a la etiqueta a*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.a-logout:hover, .a-logout:active{
    color: #fff;
    background-color: #a72c2c;
    border-color: #a72c2c;
}
.a-logout:focus{
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}
